<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <properties>
        <Property name="filename">./logs.log</Property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} [%10.15t] %style{%pid}{magenta} %style{%-20.40C{1.}}{cyan} : %m%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <!--            <AppenderRef ref="File"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>